TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID_REUVEN=8503731042
TELEGRAM_CHAT_ID_CLEANER=
NEXT_PUBLIC_SUPABASE_URL=https://ufpgwuyijewmbuevyyby.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=appSP419jrkoX3u3x
AIRTABLE_CLEANING_TABLE_ID=tblc9rRXfTW3Nupzq
AIRTABLE_BLOCKED_TABLE_ID=tblrEehaTbBzD4izM
N8N_WEBHOOK_BASE=https://newsite.mavash.net/webhook
BOT_HTTP_PORT=5055
